body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: green;
}

.mole {
    background-image: url('img/maulwurf_neu.png');
    background-size: cover;

}

#garden-div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.vertical-line {
    border-bottom: solid rgb(113, 168, 80) 2px;
}

.horizontal-line {
    border-left: solid rgb(113, 168, 80) 2px;
}

button {
    width: 150px;
    height: 70px;
    margin-top: 50px;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgb(22, 88, 22);
    color: white;
}

@media screen and (max-width: 400px) {
    #window {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: fit-content;
        margin-top: 50px;
        color: white;
    }

    /* #scoreWindow {
        background-color: blue;
    } */

    #score {
        text-align: center;
        border: solid white 1px;
    }

    /* #timeWindow {
        background-color: palevioletred;
    } */

    #time-left {
        text-align: center;
        border: solid white 1px;
    }

    .row-div {
        display: flex;
        flex-direction: row;
    }

    .square {
        height: 100px;
        width: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .mole {
        width: 100px;
        height: 100px;
    }

    .blume {
        width: 90px;
        height: 40px;
    }
}
