body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mole{
    background-image: url('img/maulwurf.png');
    background-size: cover;

}

@media screen and (max-width: 375px){
    #window{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    #garden-div{
        display: flex;
        flex-direction: column;
    }
    .row-div{
        display: flex;
        flex-direction: row;
    }
    .square{
        height: 100px;
        width: 100px;
        border: solid black 1px;
    
    }
}